<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.khalid.tajweedmeaning.adaptive.tests"><uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/><application android:label="Adaptive reader checks"/><instrumentation android:name="com.khalid.tajweedmeaning.adaptive.tests.ReaderChecks" android:targetPackage="com.khalid.tajweedmeaning.adaptive"/></manifest>
